html,
body {
  height: 100vh;
  height: 100dvh;
  display: grid; 
  background-color:  #6FA2D0;
  padding: 10px 10px 50px 10px;
}
/* Gray-blue
#999ea2 
#6fa2d0 
#4d759a 
#073763 
#052c4f 
*/

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 13px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.main {
  width: 100%;
  border-radius: 6px;
  height: calc(100% - 30px);
  background-color: #00000042;
}
.head {
  display: grid;
  max-height: 50px;
  padding: 5px 15px;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  border-radius: 6px 6px 0px 0px;
  grid-template-columns: 100px 1fr;
}
.head img {
  width: 60px;
}
.head .xbtn {
  top: 3px;
  right: 3px;
  width: 23px;
  height: 23px;
  fill: #919191;
  position: absolute;
  border-radius: 100%;
}
